*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  background-color: #1b1b1b;
}

.App{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.freecodecamp-logo-contenedor{
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-right: 30px;
}

.free-codecamp-logo{
  width:90px;
  height: 90px;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 1px 3px 11px #fff;

}
.contenedor-principal{
  display: flex;
  flex-direction: column;
}

.contenedor-contador{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}
.contenedor-botones{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (max-width:400px){
  .free-codecamp-logo{
    width:70px;
    height: 70px;
  }
}